{% extends request.user.is_staff|yesno:"security_user/layout.html,users/layout.html" %}

{% block content %}
    {% if applied %}
        <div class="jumbotron msg">
            <h1 class="display-4">Leave Application #{{application.id}}</h1>
            <p class="lead">Your leave request for {{application.from_date}} to {{application.to_date}} is being processed.</p>
        </div>
    {% else %}
        <form method="POST" action="{% url 'leave:request' %}">
            {% csrf_token %}
            {% for field in form %}
                {% if forloop.counter == 3 %}
                <div class="form-floating">
                    <textarea class="form-control" name="destination" placeholder="Enter your destination here" required id="id_destination" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">{{field.label}}</label>
                </div>
                {% elif forloop.last %}
                    <div class="form-floating">
                        <textarea class="form-control" name="reason" placeholder="Give your reason here" required id="id_reason" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">{{field.label}}</label>
                    </div>
                {% else %}
                    <label class="form-label"> {{field.label}} </label>
                    {{field}}
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error | escape }}</strong>
                    </div> 
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Apply" class="btn btn-info">
        </form>
    {% endif %}

    <style>
        form{
            margin: 2%;
        }

        input, textarea{
            margin: .5% 0;
            -webkit-margin-collapse: collapse;
        }

        .msg{
            margin: 0 1%;
            padding: 5%;
        }
    </style>
{% endblock %}