{% extends "users/layout.html" %}
{% load static %}
{% load socialaccount %}

{% block head %}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block content %}
{% load static %}
    <div class="bg_image"></div>
    <div class="bg-text">
        <div class="container">
            <div class="text-center">
                <button id="student-button" class="btn btn-light tablinks" onclick="openCity(event, 'Student')">Student</button>
                <button class="btn btn-light tablinks" onclick="openCity(event, 'Security')">Staff</button>
            </div>
        </div>
        <div id="Student" class="tabcontent">
            <div class="row">
                <a class="btn btn-dark" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>

        <div id="Security" class="tabcontent">
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required class="form-control" autofocus>
                <input type="password" name="password", placeholder="Password" required class="form-control">
                <input type="submit" value="Login" class="btn btn-dark">
            </form>
        </div>
    </div>

    <style>
        .bg_image {
            background-image: url('{% static "users/hostel.jpeg" %}');
            min-height: 75vh;
            padding: 5%;
            filter: blur(1px);
            -webkit-filter: blur(1px);
            opacity: 0.9; 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
    </style>

    <script>
        window.onload = () => {
            document.getElementById("student-button").click();
            console.log("hello")
        };

        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;
          
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
          
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
          
            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
          }
    </script>

{% endblock %}