* {
    margin: 0;
    padding: 0;
}
  
body {
    box-sizing: border-box;
}

footer {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: 100%;
    background:rgb(6, 30, 53);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}